.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  outline: none;
  background-color: #f0f5ff;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #f0f5ff !important;
  }
}

input {
  border: none;
  width: 87%;
  margin-left: 4px;
  margin-top: 10px;
  outline: none;
  height: 24px;
  border-radius: 4px;
  padding-left: 8px;
}

.label {
  font-weight: bold;
  margin: 24px 0px 12px 0px;
  color: #071748;
}

.description {
  margin-bottom: 24px;
  color: #071748;
}

.svg-inline--fa {
  color: #071748;
}

.todolistContainer {
  width: calc(100% - 32px);
  max-width: 400px;
  min-height: 35px;
  background-color: #c0d6ff;
  border: 1px solid #5894ff;
  border-radius: 10px;
  margin: 0px 16px;
}